* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}

body {
	height: 100vh;
	overflow: hidden;

	background-image: url("imagens/fundodesktop.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	top: 50px;
	left: 60px;

}

.boasvindas {
	position: absolute;
	top: 50px;
	left: 60px;
	font-family: Consolas;
	font-weight: 300;
	font-size: 22px;
}

.dados {
	position: absolute;
	top: 50px;
	right: 290px;
	font-size: 100px;
	font-family: freestyle script;
	font-weight: normal;	
}

.linha {
	position: absolute;
	border: 3px solid black;
	top: 150px;
	width: 520px;
}

.mensage {
	background-color: white;
	width: 250px;
	position: absolute;
	left: 80px;
	top: 300px;
	font-size: 25px;
	font-weight: bold;
	padding: 15px;
	border: 3px solid black;
}
.campo1 label {
	position: absolute;
	top: 200px;
	right: 500px;
	font-size: 70px;
	font-family: freestyle script;
}

.campo2 label {
	position: absolute;
	top: 300px;
	right: 470px;
	font-size: 70px;
	font-family: freestyle script;
}

.campo1 input {
	position: absolute;
	top: 205px;
	right: 250px;
	font-size: 50px;
	font-family: freestyle script;
	width: 180px;
	border: 4px solid black;
	background-color: transparent;
	padding-left: 20px;
	border-radius: 5px;
}

.campo2 input {
	position: absolute;
	top: 305px;
	right: 250px;
	font-size: 50px;
	font-family: freestyle script;
	width: 180px;
	border: 4px solid black;
	background-color: transparent;
	padding-left: 20px;
	border-radius: 5px;
}

.calcular {
	position: absolute;
	top: 400px;
	right: 410px;
}

.calcular button {
	width: 200px;
	height: 50px;
	font-size: 35px;
	font-family: Consolas;
	border: 3px solid black;
	border-radius: 5px;
}